<h1>Make your form here</h1>
<h1>Pirate Form</h1>
<form action="/pirates" method="POST">
    <h2>Pirate:</h2>
    <p>
    <lable for="pirate_name">Name</label>
    <input type="text" id="pirate_name" name="pirate[name]">
    <br>
    <label for="pirate_weight">Weight</label>
    <input type="text" id="pirate_weight" name="pirate[weight]">
    <br>
    <lable for="pirate_height">Height</label>
    <input type="text" id="pirate_weight" name="pirate[height]">
    <br>
    <p>

    <h2>Ship 1</h2>
    <p>
    <lable for="ship_name">Ship 1</lable>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]">
    <br>
    <lable for="ship_type">Ship 1</lable>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]">
    <br>
    <lable for="ship_booty">Ship 1</lable>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
    <br>
    <p>
    <h2>Ship 2</h2>
    <p>
    <lable for="ship_name">Ship 2</lable>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]">
    <br>
    <lable for="ship_type">Ship 2</lable>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]">
    <br>
    <lable for="ship_booty">Ship 2</lable>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
    <br>
    <input type="submit" value="Submit">
    <p>
</form>